<!DOCTYPE html>
<html>

<head>
    <title>
      管理平台-分类列表
    </title>
    <!--<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />-->
	<link href="__STATIC__/manage/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/isotope.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/wizard.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/select2.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/morris.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/datatables.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/datepicker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/timepicker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/colorpicker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/daterange-picker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/typeahead.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/summernote.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/pygments.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" />
  <link href="__STATIC__/manage/stylesheets/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" />
	<script src="__STATIC__/manage/javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="__STATIC__/manage/javascripts/jquery-ui.js" type="text/javascript"></script>
	<script src="__STATIC__/manage/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/raphael.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/selectivizr-min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/fullcalendar.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/gcal.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/datatable-editable.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/excanvas.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/isotope_extras.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/modernizr.custom.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/select2.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/styleswitcher.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/wysiwyg.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/summernote.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/typeahead.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/daterange-picker.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/date.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/morris.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/skycons.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/fitvids.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/main.js" type="text/javascript"></script>
  <script src="__STATIC__/manage/javascripts/respond.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>
  <body>
    <div class="modal-shiftfix">
      <!-- Navigation -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
          <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown notifications hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-flag"></span>
                  <div class="sr-only">
                    Notifications
                  </div>
                  <p class="counter">
                    4
                  </p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New user added: Jane Smith
                    </p></a>

                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      Sales targets available
                    </p></a>

                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New performance metric added
                    </p></a>

                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New growth data available
                    </p></a>

                  </li>
                </ul>
              </li>
              <li class="dropdown messages hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-envelope"></span>
                  <div class="sr-only">
                    Messages
                  </div>
                  <p class="counter">
                    3
                  </p>
                </a>
                <ul class="dropdown-menu messages">
                  <li><a href="#">
                    <img width="34" height="34" src="__STATIC__/manage/images/avatar-male2.png" />Could we meet today? I wanted...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="__STATIC__/manage/images/avatar-female.png" />Important data needs your analysis...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="__STATIC__/manage/images/avatar-male2.png" />Buy Se7en today, it's a great theme...</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown settings hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-gear"></span>
                  <div class="sr-only">
                    Settings
                  </div>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>蓝色</a>
                  </li>
                  <li>
                    <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)"><span></span>绿色</a>
                  </li>
                  <li>
                    <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)"><span></span>橙色</a>
                  </li>
                  <li>
                    <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)"><span></span>紫色</a>
                  </li>
                  <li>
                    <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)"><span></span>灰色</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img width="34" height="34" src="__STATIC__/manage/images/avatar-male.jpg" />{:session('admin_info.admin_user')}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <i class="icon-user"></i>个人信息</a>
                  </li>
                  <li><a href="#">
                    <i class="icon-gear"></i>个人设置</a>
                  </li>
                  <li><a href="{:url('admin/logout')}">
                    <i class="icon-signout"></i>注销</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="index-2.html">se7en</a>
          <form class="navbar-form form-inline col-lg-2 hidden-xs">
            <input class="form-control" placeholder="Search" type="text">
          </form>
        </div>
        <div class="container-fluid main-nav clearfix">
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="{:url('index/index')}"><span aria-hidden="true" class="se7en-home"></span>面板</a>
              </li>
              <li><a href="{:url('article/index')}"  class="current">
                <span aria-hidden="true" class="se7en-feed"></span>文章管理</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-star"></span>评论管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="buttons.html">Buttons</a>
                  </li>
                  <li>
                    <a href="fontawesome.html">Font Awesome Icons</a>
                  </li>
                  <li><a href="glyphicons.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Glyphicons
                    </p></a>

                  </li>
                  <li>
                    <a href="components.html">Components</a>
                  </li>
                  <li>
                    <a href="widgets.html">Widgets</a>
                  </li>
                  <li>
                    <a href="typo.html">Typography</a>
                  </li>
                  <li>
                    <a href="grid.html">Grid Layout</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-forms"></span>友情链接<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="form-components.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Form Components
                    </p></a>

                  </li>
                  <li>
                    <a href="form-advanced.html">Advanced Forms</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-tables"></span>资源站<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="tables.html">Basic tables</a>
                  </li>
                  <li>
                    <a class="current" href="datatables.html">DataTables</a>
                  </li>
                  <li><a href="datatables-editable.html">
                    <div class="notifications label label-warning">
                      New
                    </div>
                    <p>
                      Editable DataTables
                    </p></a>

                  </li>
                </ul>
              </li>
              <li><a href="charts.html">
                <span aria-hidden="true" class="se7en-gallery"></span>相册</a>
              </li>
              <li><a href="gallery.html">
                <span aria-hidden="true" class="se7en-gear"></span>设置</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Navigation -->
      <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            文章
          </h1>
        </div>
        <!-- DataTables Example -->
        <div class="row">
          <div class="col-lg-12">
            <div class="widget-container fluid-height clearfix">
              <div class="heading">
                <i class="icon-table"></i>文章列表<a class="btn btn-sm btn-primary-outline pull-right" href="{:url('term/add')}"><i class="icon-plus"></i>发布文章</a>
              </div>
              <div class="widget-content padded clearfix">
                <table class="table table-bordered table-striped" id="dataTable1">
                  <thead>
                    <th class="check-header hidden-xs">
                      <label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label>
                    </th>
                    <th>
                      标题
                    </th>
                    <th>
                      摘录
                    </th>
                    <th class="hidden-xs">
                      内容
                    </th>
                    <th class="hidden-xs">
                      发布时间
                    </th>
                    <th class="hidden-xs">
                      状态
                    </th>
                    <th></th>
                  </thead>
                  <tbody>


                    {volist name="termList" id="vo"}
                    <tr>
                      <td class="check hidden-xs">
                        <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
                      </td>
                      <td>
                        {$vo.term_name}
                      </td>
                      <td>

                      </td>
                      <td class="hidden-xs">
                        {$vo.term_slug}
                      </td>

                      <td class="actions">
                        <div class="action-buttons">
                          <a class="table-actions" href="#"><i class="icon-eye-open"></i></a><a class="table-actions" href="{:url('Article/edit',['id'=>$vo.term_id])}"><i class="icon-pencil"></i></a><a class="table-actions" href="#"><i class="icon-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    {/volist}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- end DataTables Example -->
      </div>
    </div>
  </body>

</html>
