<div id="footer" class="one-s-footer">
  <div class="container">
    <div class="row">
      <div class="social-footer">
        <!-- <a class="ttweiboii" href="https://www.nutgeek.com/links-page/" target="_blank" rel="nofollow" title="友情链接"><i class="icon-link"></i></a>
        <a class="weiboii" href="https://weibo.com/nutterchen" target="_blank" rel="nofollow" title="新浪微博"><i class="icon-weibo"></i></a> -->
        <a class="mailii" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=541410829@qq.com" target="_blank" title="给站长发邮件"><i class="icon-mail-2"></i></a>
      </div>
      <div class="footer-copyright">Copyright © 2018 <a class="site-link" href="www_nutgeek_default.html" title="ITellYou.site" rel="home">ITellYou.site</a> <a href="http://www.miitbeian.gov.cn/" rel="external nofollow" target="_blank">粤ICP备18046091号</a> <a style="color:red;cursor:pointer;" id="mianze">  免责声明</a>
        <script>
          var _hmt = _hmt || [];
          (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?77da984c30be15fc84c9343a00a080f0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script> <br/>I Tell You · <a href="itellyou.site" target="_blank" rel="nofollow">server status</a>
      </div>

    </div>
  </div>
</div>
<!-- 弹出层 -->
<script type='text/javascript' src='__STATIC__/index/plugins/layer/layer.js'></script>
<script type="text/javascript">
  (function(){
    $("#mianze").click(function(){
			layer.open({
				  type: 1
				  ,title: false //不显示标题栏
				  ,closeBtn: false
				  ,area: ['700px','400px']
				  ,shade: 0.8
				  ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
				  ,resize: false
				  ,btn: '我知道了'
				  ,btnAlign: 'c'
				  ,moveType: 1 //拖拽模式，0或者1
				  ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">'+
					'&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp欢迎来到ITellYou个人博客网站。本个人博客网站提供各种互联网技术。在此我将尽我最大所能将此个人博客网站做的最好! 谢谢大家,愿大家一起进步!'+

					'<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1、本网站属于个人的非赢利性网站，转载的文章遵循原作者的版权声明，如按照目前互联网开放的原则，我将在不通知作者的情况下，转载文章;如果原文明确注明“禁止转载”，我们一定不会转载。如果我们转载的文章不符合作者的版权声明或者作者不想让我们转载您的文章的话，请来信告知：541410829@qq.com'+

					'<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2、本网站转载文章仅为传播更多信息之目的，凡在本网站出现的信息，均仅供参考。本网站将尽力确保所提供信息的准确性及可靠性，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。'+

					'<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3、任何透过本网站网页而链接及得到的资讯、产品及服务，本网站概不负责，亦不负任何法律责任。'
					+'</div>'
				  ,success: function(layero){
				    // var btn = layero.find('.layui-layer-btn');
				    // btn.find('.layui-layer-btn0').attr({
				    //   href: 'http://www.layui.com/'
				    //   ,target: '_blank'
				    //});
				  }
				});
		})
  })()
</script>
